# directory for test
testDir/

# ignore reference projects
referenceImplementation/*
!referenceImplementation/README
!referenceImplementation/load.sh

# directory of download files
notebooks/docsFromCSC/
